:root {
    --lhs-width: min(740px, 40vw);
    --rhs-width: calc(100vw - min(740px, 40vw));
    --background-color: rgba(146, 166, 146, 0.098);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif   

}

body {
    display: flex;
}

.lhs {
    background-image: url(./images/macarons2.jpeg);
    height: 100vh;
    width: var(--lhs-width);
    background-size: 740px;
}

.logo-wrapper {
    position: relative;
    top: 15vh;
    background-color: rgba(0, 0, 0, 0.6); /* Black with 80% opacity */
    padding: 10px;
    width: inherit;
    display: flex; /* Shrink-wrap the logo */
    justify-content: center;
}

.logo-wrapper img {
    display: block;
    max-width: 100%;
}

.rhs {
    width: var(--rhs-width);
    display: flex;
    flex-direction: column; /* Stack .s1, .s2, and .s3 vertically */
}


.s1 {
    background-color: var(--background-color);
    height: calc(15vh + 146px);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 1;
}

.s1 p {
    padding: 40px 10px 40px 40px;   
}

.s2 {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px lightgray;
}

.s2>* {
    width: max(250px, calc(var(--rhs-width) / 2));
    padding: 10px;
    padding-left: 40px;
}

.inp:last-of-type {
    padding-bottom: 40px;
}

label {
    font-size: 10px;
    letter-spacing: 1.5px;
}

.required {
    font-size: 12px;
}

input, select {
    font-size: 16px;
}

.s3 {
    flex-grow: 1;
    display: flex   ;
}

.s3 button {
    margin: 40px;
    font-size: 20px;
    background-color:#5b6a25;
    padding: 10px 40px 10px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    font-weight: bold;
}

button:active {
    background-color: #7a8f45;
}

